In [ ]:
pip install mysql.connector

In [ ]:
import mysql.connector

db = mysql.connector.connect(
  host="mysql",
  user="root",
  password="root"
)
cursor = db.cursor()
cursor.execute("CREATE DATABASE Proyecto_G01")

In [ ]:
db = mysql.connector.connect(
  host="mysql",
  user="root",
  password="root",
  database="Proyecto_G01"
)
cursor = db.cursor()
cursor.execute("CREATE TABLE ConsumoAlcohol (Pais VARCHAR(255), Cerveza INT(5), Licor INT(5), Vino INT(5), Total_Litros_alcohol_puro FLOAT(5))")

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel("ConsumoAlcohol.xlsx")
x = df.iloc[:,[0,1,2,3,4]]

In [ ]:
cursor = db.cursor()

datos=x.to_numpy()
datos=np.delete(datos,0,0)

for i in range(len(datos)):
    sql = "INSERT INTO ConsumoAlcohol (Pais, Cerveza, Licor, Vino, Total_Litros_alcohol_puro) VALUES (%s, %s, %s, %s, %s)"
    val=(tuple(datos[i]))
    cursor.execute(sql, val)
    db.commit()
print(len(datos), "rows inserted.")

In [ ]:
cursor = db.cursor()

sql = "DROP TABLE ConsumoAlcohol"

cursor.execute(sql)